* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media all and (max-width:600px) {
    body {
        background-image: url("src/img/islam_mobile_wallpaper.jpg");
    }
}

#body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 35px;
}

#header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

#title {
    margin-left: 10px;
}

#menu {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line {
    width: 30px;
    background-color: white;
    border: none;
    margin: 2px;
    height: 4px;
}

#nav {
    height: 100vh;
    width: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition-duration: 0.5s;
    background-color: blue;
}

#nav>p {
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    background-color: black;
    color: white;
}